<div class="sidebar">
<%= link_to "All Users", admin_addresses_path %>
  <%= link_to "User Details", admin_address_path(@user) %>
  <%= link_to "Edit User Details", edit_admin_address_path(@user) %>
</div>