<h1 class="center">All Users</h1>
<table class="table table-striped table-responsive">
  <tr>
    <th> Name</th>
    <th colspan="3">Actions</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %> <%= user.last_name %></td>
      <td><%= link_to "Manage", admin_address_path(user) , class: "btn btn-primary" %></td>
    </tr>
  <% end %>
</table>
