<div class="jumbotron">
  <h1>Welcome to Minishop</h1>
  <p>We are NZ's Leading Renewable &
    100% Green Electricity Provider
  </p>
  <%= link_to '<button type="button" class="btn btn-lg btn-primary">Sign Up</button>'.html_safe %>
</div>
