<%= render 'admin/addresses/sidebar' %>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-body">
   <h4> <strong>Meter Number: </strong>
    <%= @register_serial.meter_number %>:
    <%= @register_serial.register_number %>
    [<%= @register_serial.register_decimals %>]
  </div>

