<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="center panel-heading">YOUR DETAILS</div>
  <div class="panel-body">
   <h4> <strong>Name: </strong>
    <%= @user.first_name %>
    <%= @user.last_name %>
  </h4>

  <h4>
    <strong>Email address: </strong>
    <%= @user.email %>
  </h4>

  <h4>
    <strong>Contact phone: </strong>
    <%= @user.phone %>
  </h4>
  </div>