// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 @import "bootstrap";


 .table {
   border-collapse: collapse;
   width: 100%;
 }

 .table tr:nth-child(even) {
   background-color: #f2f2f2;
 }

 .table tr:hover {
   background-color: #ddd;
 }

 .table th {
   padding-top: 12px;
   padding-bottom: 15px;
   text-align: left;
   background-color: #9fdb87;
   color: #ffff;
   font-size: 25px;
   text-transform: uppercase;
   padding-left: 5px;
   font-family: 'Courier New', Courier, monospace;
 }

 .table td {
   text-align: left;
   text-transform: uppercase;
   font-size: 17px;
 }
